nav {
    margin: 0 auto;
    padding: 10px;
}
h1 {
    margin-left: auto;
    margin-right: auto;
}
h1.title {
    font-size: 48px;
}
body {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #70798c ;
    color: #f5f1ed;
}
a:link {
    color: #252323;
    text-decoration: none;
}
a:visited {
    color: #252323;
    text-decoration: none;
}
a:hover {
    color: #f5f1ed;
    text-decoration: none;
}
a:active {
    color: #f5f1ed;
    text-decoration: none;
}
h2 {
    color: #252323;
}
h1 {
    color: #a99985;
}
