body {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #d5d9e0;
}
a:link {
    color: #4a6d88;
    text-decoration: none;
}
a:visited {
    color: #4a6d88;
    text-decoration: none;
}
a:hover {
    color: #cf0000;
    text-decoration: none;
}
a:active {
    color: #c6cdd7;
    text-decoration: none;
}
h1 {
    font-size:72px;
}